<div class="container">
  <h1>Questions for <%= @start_language.capitalize %> programmers</h1>
  <% @questions.each do |question| %>
    <% if !question[1].empty? %>
      <div class="end_language">
        <h3><%= question[0] %></h3>
      </div>
        <% question[1].reverse.each do |question| %>
          <div class="question-box">
            <a class="question-big" href="/questions/<%=question.id%>/answers"><%= question.query %></a>
            <span class="answer-num">Answers: <%= question.answers.length %></span>
            <div class="top-answer">
              <% if question.top_answer %>
                <p class="top-user">
                  Top answer submitted by <%= question.top_answer.user.name %>
                  <br>
                  Votes: <%= question.top_answer.votes %>
                </p>
                <img src="<%= question.top_answer.delta %>" alt="delta gif" />
              <% else %>
                This question needs an <a href="/questions/<%= question.id %>/answers/new">answer</a>.
              <% end %>
            </div>
          </div>
        <% end %>
    <% else %>
      <%= nil %>
    <% end %>
  <% end %>
</div>
