<div class="container">
  <h1><%= @question.query %></h1>
  <% if session[:user_id] %>
  <a href="/questions/<%= @question.id %>/answers/new" style="text-align:right">Add Answer</a>
  <% end %>
  <br>
  <a href="/questions/<%=@question.start_language %>">Back to Questions</a>
    <% @answers.each_with_index do |answer,index| %>
      <div class="answer-box">
        <div class="submission">
          <h2 style="display:inline-block;">Solution <%=index+1%></h2>
          <span class="votes header">
              <img id="up"   src="/images/up_vote.png" alt="vote up" />
              <img id="down" src="/images/down_vote.png" alt="vote down" />
          </span><br>
          Submitted by <%= answer.user.name %> (<%= answer.user.email %>)<br>
          on <%= answer.created_at %><br>
          <span class="vote-amount"><%= answer.votes %> votes</span>
        </div>
        <br>
        <div class="answer" id="original_solution">
          <div class="status">
            Original Solution (<%= @question.start_language %>)
          </div>
          <img class="answer-image" src="<%= answer.original_solution %>" alt="original solution" />
        </div>
        <div class="answer" id="delta">
          <div class="status">
            Delta
          </div>
          <img class="answer-image" src="<%= answer.delta %>" alt="delta" />
        </div>
        <div class="answer" id="final_solution">
          <div class="status">
            Final Solution (<%= @question.end_language %>)
          </div>
          <img class="answer-image" src="<%= answer.final_solution %>" alt="final solution" />
        </div>
      </div>
    <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  $('#up').on('click', function() {
    var posting = $.post('/votes', $(this).serialize());
  });
  $('#down').on('click', function() {
    console.log('down')
  });
</script>
