<div class="container">
  <h1><%= @question.query %></h1>
  <% if session[:user_id] %>
  <a href="/questions/<%= @question.id %>/answers/new" style="text-align:right">Add Answer</a>
  <% end %>
  <br>
  <a href="/questions/<%=@question.start_language %>">Back to Questions</a>
    <% @answers.each_with_index do |answer,index| %>

      <div class="answer-box">
        <div class="submission">
          <h2 style="display:inline-block;">Solution <%=index+1%></h2>
            <span class="votes header">
              <% if !answer.users.include?(current_user) %>
                  <img class="up vote" id="<%=answer.id%>up"   src="/images/up_vote.png" alt="vote up" />
                  <img class="down" id="<%=answer.id%>down" src="/images/down_vote.png" alt="vote down" style="display: none"/>
              <% else %>
                  <img class="up vote" id="<%=answer.id%>up"   src="/images/up_vote.png" alt="vote up" style="display: none"/>
                  <img class="down vote" id="<%=answer.id%>down" src="/images/down_vote.png" alt="vote down"/>
              <% end %>
            </span>
            <span id="voting-error"></span>
            <br>
          Submitted by <%= answer.user.name %> (<%= answer.user.email %>)<br>
          on <%= answer.created_at %><br>
          <span class="vote-amount" id="answer<%=answer.id%>"><%= answer.votes.size %></span> votes
        </div>
        <br>

        <div class="answer" id="original_solution">
          <div class="status">
            Original Solution (<%= @question.start_language %>)
          </div>
          <img class="answer-image" src="<%= answer.original_solution %>" alt="original solution" />
        </div>

        <div class="answer" id="delta">
          <div class="status">
            Delta
          </div>
          <img class="answer-image" src="<%= answer.delta %>" alt="delta" />
        </div>

        <div class="answer" id="final_solution">
          <div class="status">
            Final Solution (<%= @question.end_language %>)
          </div>
          <img class="answer-image" src="<%= answer.final_solution %>" alt="final solution" />
        </div>

      </div>
    <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  var Vote = function(answer_id, votes, vote_amount, up_or_down) {
    this.answer_id = answer_id;
    this.votes = votes;
    this.vote_amount = vote_amount;
    this.up_or_down = up_or_down
  }

  $('.vote').on('click', function(e) {
    e.preventDefault();

    votes_object = new Vote(parseInt($(this)[0].id),
                            parseInt($('#answer' + parseInt($(this)[0].id)).text()),
                            $('#answer' + parseInt($(this)[0].id)),
                            $(this).attr('class').split(" ")[0]
                            )

    if (votes_object.up_or_down === "up") {
      var posting = $.post('/add_votes',
        { vote_num: votes_object.votes, answer: votes_object.answer_id })

      posting.done(function(data) {
        data = JSON.parse(data)
        if (data["error"]) {
          alert("Must be logged in to vote")
        }
        else {
          votes_object.vote_amount.empty().append(data["votes"])
          $('.up').hide();
          $('.down').show();
        }
      });
    }
    else {
      var posting = $.post('/down_vote',
        { vote_num: votes_object.votes, answer: votes_object.answer_id })

      posting.done(function(data) {
        data = JSON.parse(data)
        if (data["error"]) {
          alert("Must be logged in to vote")
        }
        else {
          votes_object.vote_amount.empty().append(data["votes"])
          $('.down').hide();
          $('.up').show();
        }
      });
    }
  });
</script>
